.produto{
    background-color: white;
    border: 1px solid grey;
    padding: 15px;
    margin: 15px auto;
    width: 200px;
    border radius: 8px;
    font-family: 'Courier New', 'Courier', monospace;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}

.produto.destaque{
    border: 2px solid rgba(172, 255, 47, 0.341);
    background-color: greenyellow;
}

.descricao{
    color: grey;
    font-size: 14px;
}

.preco-antigo{
    text-decoration: line-through;
    color: grey
}